.ett {
  color: red;
}

.tva {
  font-size: 38px;
  font-family: Arial;
}

.tre {
  font-size: 14px;
  font-family: "Times New Roman";
}

.bakgrund {
  background-color: yellow;
}

.bakgrund1 {
  background-color: green;
}