.container {
  width:50%;
  height:500px;
  border:solid;
  margin:auto;
}

.item {
  width:100px;
  height:100px;
}

.item-green {
  background-color: green;
  height:100px;

  position:absolute;
  left:30px;
  top:30px;

}
.item-black {
  background-color: black;
}
